<h2>Mis heroes Favoritos</h2>
<ul class="heroes">

  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>{{hero.name}}
  </li>

</ul>

<div *ngIf="selectedHero">

  <h2>{{selectedHero.name | uppercase}}</h2>
  <h3>Detalles</h3>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label for = "hero-name">Nombre: </label>
      <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="Nombre Heroe">
  </div>

  <div>
    <label for = "hero-edad">Edad: </label>
      <input id="hero-edad" [(ngModel)]="selectedHero.edad" placeholder="Edad Heroe">
  </div>

  <div>
    <label for = "hero-poder">Poder: </label>
      <input id="hero-poder" [(ngModel)]="selectedHero.poder" placeholder="Poder Heroe">
  </div>

  <div>
    <label for = "hero-universo">Universo: </label>
      <input id="hero-universo" [(ngModel)]="selectedHero.universo" placeholder="Universo Heroe">
  </div>

  <div>
    <label for = "hero-identidad">Identidad: </label>
      <input id="hero-identidad" [(ngModel)]="selectedHero.identidad" placeholder="Identidad Heroe">
  </div>

</div>
